{% extends "base.html.twig" %}

{% block login %}{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h2 class="d-flex justify-content-center  edit-or-add">Ajouter un produit :</h2>

<div class="d-flex justify-content-center">
    <form action="/product/create" method="post">

        <label for="product_name">nom du produit :</label>
        <input class="form-control rounded" type="text" name="name" placeholder="nom du produit"><br>

        <label for="product_name">prix du produit :</label>
        <input class="form-control rounded" type="text" name="price" placeholder="prix du produit"><br>

        <label for="product_name">quantité du produit :</label>
        <input class="form-control rounded" type="text" name="quantity" placeholder="quantité du produit"><br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-light btn-outline-dark"><strong>enregistrer</strong></button>
        </div>

</div>

{% endblock %}