{% extends "base.html.twig" %}

{% block login %}{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="product-container edit-or-add"></div>

<h1 class="d-flex justify-content-center">ONLINE SNACKIES</h1>

<h2 class="d-flex justify-content-center">Bienvenue {{username}}!</h2>

<div class="d-flex row justify-content-space-between">

    <div class="card" style="width: 16rem;">
        <img src="http://localhost:8080/img\employees.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>{{employees}}</strong> salarié.e.s sont abonné.e.s chez Online Snackies
            </h5>


        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img src="http://localhost:8080/img\boxes.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Il y a <strong>{{products}}</strong> références de produits en stock
            </h5>


        </div>
    </div>

</div>



</div>

{% endblock %}